################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Razor/Razor.Web/wwwroot/lib
/Razor/Razor.Web/wwwroot/bootstrap
/Razor/Razor.Web/appsettings.Development.json
